Repository hayashiki/go-boiler, changes with the labels that .github/labeler.yml gives for each.
All labels: terraform, actions, doc

.github/labeler.yml:

terraform:
  - terraform/**/*
actions:
  - .github/**/*
doc:
  - ./**/*.md

Fix checkout pos
  .github/workflows/test_and_build.yml
Labels: actions

Add manual deploy with actions
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy-with-terraform.yml
  .github/workflows/test_and_build.yml
Labels: actions

fix action name typo
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-with-terraform.yml
  .github/workflows/trivy-analysis.yml
Labels: actions

Fix tfvars
  .github/workflows/deploy-with-terraform.yml
Labels: actions

Add preview env
  .github/workflows/deploy-with-terraform.yml
  .github/workflows/test_and_build.yml
Labels: actions

fix typo
  .github/workflows/test_and_build.yml
Labels: actions

Update README.md
  README.md
Labels: doc

implement delete preview service
  .github/workflows/deploy-with-gcloud.yml
  .github/workflows/test_and_build.yml
Labels: actions

chore
  .github/workflows/test_and_build.yml
Labels: actions

chore
  .github/workflows/test_and_build.yml
Labels: actions

vup go1.18rc1
  go.mod
Labels: none

docker vup
  Dockerfile
Labels: none

fix typo
  .github/workflows/test_and_build.yml
Labels: actions

fix region arg
  .github/workflows/test_and_build.yml
Labels: actions

remove invalid region arg
  .github/workflows/test_and_build.yml
Labels: actions
